@charset "utf-8";

.ml80 {
	margin-left: 80px
}

.mb50 {
	margin-bottom: 50px
}

.ha {
	height: auto
}

.pd10 {
	padding: 10px
}

.b-top {
	border-top: 1px solid #DCDCDC
}

.p-layout {
	padding: 10px
}

.error {
	border: 1px solid #FA7C27
}

.mr19 {
	margin-right: 19px
}

.perc85 {
	width: 85%
}

.sn-nav-list span {
	position: absolute;
	right: 0
}

.t-left {
	text-align: left
}

.t-right {
	text-align: right
}

.sn-cart-list .sn-input-checked,.cart-coupon-list .sn-input-checked {
	position: absolute;
	top: 50%;
	margin-top: -10px
}

.sn-cart-list .sn-input-radio,.cart-coupon-list .sn-input-radio {
	position: absolute;
	top: 50%;
	left: 3px;
	margin-top: -4px
}

.cart-coupon-list .sn-input-radio {
	left: 13px
}

.cart-payfor-list .sn-input-radio,.cart-adrs .sn-input-radio {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -4px
}

.cart-ico {
	margin: 100px 0 50px;
	text-align: center
}

.cart-edit-ico {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	padding: 5px;
	background: url(images/cart_edit.png) no-repeat center;
	background-size: 20px;
	-webkit-transform: translate3d(0,0,0)
}

.cart-rob-bg {
	position: absolute;
	left: 0;
	top: 0;
	border-style: solid;
	border-width: 0 25px 25px 0;
	border-color: transparent transparent #F35935;
	-webkit-transform: rotate(90deg)
}

.cart-rob-text {
	position: absolute;
	left: 2px;
	top: -1px;
	color: #FFF
}

.cart-shadow {
	box-shadow: 0 1px 1px #EBEBEB
}

.cart-addfav-opt {
	margin: 0 0 0 12px;
	background-image: url(images/add_favorites.png)
}

.cart-del-opt {
	margin-top: 0;
	background-image: url(images/del.png)
}

.cart-box .sn-cart-list li {
	display: block
}

.cart-box .sn-cart-list .list-opra,.cart-box .sn-cart-list .list-tc-opra {
	position: absolute;
	right: -65px;
	top: 39px;
	-webkit-transition: right .5s ease-in
}

.pro-list .pro-info .list-opra.r0,.pro-list .pro-info .list-tc-opra.r0 {
	right: 0;
	bottom: 0
}

.sn-count {
	float: left;
	margin-top: 4px;
	-webkit-transition: opacity .5s ease-in
}

.cart-edit-ico:hover,.cart-edit-ico.cur {
	background-image: url(images/cart_edit_hover.png);
	background-color: #FC7D28
}

.cart-addfav-opt:hover,.cart-addfav-opt.cur {
	background-image: url(images/add_favorites_hover.png);
	background-color: #FC7D28
}

.cart-del-opt:hover,.cart-del-opt.cur {
	background-image: url(images/del_hover.png);
	background-color: #FC7D28
}

.cart-favorable,.cart-favorable .cart-title {
	font-size: 1.08rem
}

.cart-favorable-list {
	padding: 10px;
	-webkit-box-sizing: border-box
}

.cart-favorable-list li {
	color: #FA7C27
}

.cart-favorable-list li:first-child {
	margin-right: 15px;
	width: 15px;
	height: 17px;
	border: 1px solid #F97D29;
	border-radius: 2px;
	text-align: center
}

.cart-favorable-list li:last-child {
	-webkit-box-flex: 1
}

.cart-star {
	display: inline-block;
	width: 7px;
	height: 6px;
	margin-right: 5px;
	background: url(images/star.png) no-repeat;
	background-size: 7px 6px;
	vertical-align: 2px
}

.sn-cart-list,.cart-pro-box {
	overflow: hidden
}

.cart-pro-box .sn-block {
	margin-top: 15px
}

.cart-pro-box .sn-block:first-child {
	margin-top: 0
}

.cart-address {
	display: block;
	position: relative;
	padding: 10px 40px 10px 10px;
	-webkit-box-sizing: border-box
}

.cart-address:after {
	content: "";
	position: absolute;
	right: 15px;
	top: 50%;
	width: 9px;
	height: 9px;
	margin-top: -5px;
	border: 1px solid #686B72;
	border-width: 1px 0 0 1px;
	-webkit-transform: rotate(135deg)
}

.cart-order-more {
	display: none;
	margin-left: 10px;
	padding: 10px 10px 10px 0;
	border-top: 1px solid #DCDCDC;
	text-align: center
}

.cart-show-more {
	display: inline-block;
	width: 160px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #DCDCDC;
	background: #FFF;
	line-height: 35px;
	text-align: center;
	color: #707070;
	font-size: 1.25em
}

.cart-show-more:after {
	display: inline-block;
	content: "";
	width: 9px;
	height: 9px;
	margin-left: 10px;
	border: 1px solid #707070;
	border-width: 1px 0 0 1px;
	-webkit-transform: rotate(-135deg);
	vertical-align: 2px
}

.cart-arrow-up:after {
	-webkit-transform: rotate(45deg);
	vertical-align: -2px
}

.cart-comment {
	padding-bottom: 10px;
	line-height: 15px
}

.p20 {
	padding-top: 20px;
	padding-bottom: 20px
}

.sn-text-area {
	height: 100px
}

.cart-stores {
	background: #FFF;
	font-size: 1.25em
}

.cart-stores li {
	display: -webkit-box;
	padding: 10px;
	border-bottom: 1px solid #DCDCDC;
	-webkit-box-sizing: border-box
}

.cart-stores li label {
	display: block
}

.cart-stores .stores-list label {
	margin-top: 5px
}

.cart-stores li.pr0 {
	padding-right: 0
}

.cart-stores li .b-top {
	margin-top: 5px;
	padding-top: 10px
}

.cart-payfor-list li {
	display: block;
	padding: 10px
}

.cart-orange-btn {
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #FA7C27;
	border-radius: 2px;
	color: #FA7C27
}

.sn-nav-list .cart-add-adrs {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-top: 12px;
	background: url(images/add_address.png) no-repeat;
	background-size: 22px
}

.cart-adrs li {
	position: relative;
	margin-bottom: 10px;
	padding: 0;
	background: #FFF;
	font-size: 1rem
}

.cart-adrs .wbox-flex {
	padding: 10px
}

.cart-adrs .sn-input-radio {
	right: 60px
}

.cart-adrs-btn a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
	padding: 0;
	border-bottom: 1px dashed #DCDCDC
}

.cart-adrs-btn a:last-child {
	top: 50%;
	margin-top: 1px;
	border: 0 none
}

.cart-adrs-btn a em {
	margin-right: 5px;
	vertical-align: -5px
}

.cart-adrs-btn {
	position: relative;
	width: 50px;
	margin-left: 20px;
	border-left: 1px dashed #DCDCDC
}

.cart-adrs-btn .cart-edit-ico {
	display: inline-block;
	margin-top: 0
}

.cart-foot-bar {
	position: relative;
	height: 75px;
	z-index: 90
}

.sn-fixed .sn-input-checked {
	vertical-align: -15px
}

.cart-order .status {
	padding: 30px 0;
	text-align: center;
	font-size: 1.25rem
}

.cart-order-sucico {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	background: url(images/success_ico.png) no-repeat;
	background-size: 22px;
	vertical-align: -5px
}

.cart-coupon-list li {
	position: relative;
	padding: 15px 10px;
	border-bottom: 1px solid #DCDCDC;
	background: #FFF
}

.cart-label {
	display: block;
	margin-left: 30px
}

.cart-bgW {
	background: #FFF
}

.cart-num-suc {
	width: 25px;
	height: 18px;
	margin: 5px 25px 0 28px;
	background: url(images/num_suc.png) no-repeat;
	background-size: 25px 18px
}

.cart-recommend-num .sn-btn-b,.cart-recommend-num .sn-btn-f,.cart-recommend-num .sn-btn-e {
	height: 30px;
	padding: 0 20px;
	line-height: 30px
}

.cart-recommend-num .sn-btn-e {
	height: 28px;
	line-height: 28px;
	color: #FC7C25
}

.cart-recommend-num span.sn-btn-e {
	width: 68px;
	padding: 0
}

.cart-recommend-num .sn-btn-b {
	color: #6f6f6f
}

.cart-coupon-item li a {
	display: block;
	padding: 15px 10px;
	border-bottom: 1px solid #DCDCDC
}

.cart-coupon-item li i {
	margin-right: 10px
}

.cart-coupon-text {
	margin-top: 5px;
	max-height: 36px;
	line-height: 1.5;
	overflow: hidden
}

.cart-bind-wrap .cart-bind-num {
	padding: 10px 10px 0
}

.cart-warn-bind {
	position: relative;
	margin-top: -2px;
	padding: 0 10px 10px;
	border-bottom: 1px solid #DCDCDC;
	background: #FFF
}

.fav-box .pro-list .pro-info .list-opra {
	top: 50%;
	right: -30px;
	margin-top: -15px
}

.fav-box .sn-cart-list li {
	margin-left: 0;
	padding-left: 10px;
	padding-right: 30px
}

.fav-box .sn-cart-list li:last-child {
	border-bottom: 1px solid #DCDCDC
}

.cart-stores .stores-list .sn-select-ui .select-view {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.disable-click:after {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 110px;
	height: 25px;
	opacity: 0
}

.disable-click .sn-count .min,.disable-click .sn-count .add,.disable-click .sn-count .min:after,.disable-click .sn-count .add:after {
	opacity: .6
}

.disable-click .input-count {
	opacity: .6;
	background: 0 0
}

.cart-foot-bar .summit-order {
	height: 35px;
	line-height: 35px;
	font-size: 1.25rem;
	text-align: center;
	color: #999;
	padding: 0 15px
}

.cart-foot-bar .summit-order a {
	color: #FFF
}

.pay-list-div {
	padding: 15px 15px 10px 0
}

.sn-list-div .pay-style-btn {
	position: relative;
	padding-right: 0
}

.sn-list-div .pay-style-btn:after {
	right: -5px;
	top: 10px
}

.sn-list-div .pay-style {
	padding: 0 10px
}

.sn-list-div .pay-style-btn .cart-comment {
	padding: 3px 0 0 0
}

.cart-coupon-title {
	margin-left: 10px;
	height: 30px;
	line-height: 30px
}

.cart-message {
	margin-left: 10px;
	padding: 10px 10px 10px 0;
	border-top: 1px solid #DCDCDC
}

.cart-message .sn-input-text-b {
	padding: 0
}

.cart-message input {
	width: 100%;
	padding: 6px 0 7px 5px;
	border: 0 none;
	-webkit-box-sizing: border-box;
	text-overflow: ellipsis
}

.cart-input-close {
	display: none;
	width: 30px;
	height: 28px
}

.cart-input-close:after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 6px 0 0 7px;
	background: url(images/close_input.png) no-repeat;
	background-size: 100%
}

.lh20 {
	line-height: 20px
}

.sn-cart-list .cart-general,.sn-cart-list .cart-tc {
	margin-left: 0;
	padding-left: 10px
}

.sn-cart-list .cart-tc .cart-addfav-opt {
	visibility: hidden
}